.mainContent {
  padding: 10vh 10vw;
  width: 100%;
  height: 100%;
}

.mainContent h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.fields {
  display: grid;
  grid-template-areas:
    "disciplina temaGeral"
    "assuntos  assuntos";
  gap: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 720px;
}

.aulaTema {
  grid-area: temaGeral;
}

.aulaDisciplina {
  grid-area: disciplina;
}

.aulaAssuntos {
  grid-area: assuntos;
}

@media screen and (max-width: 640px) {
  .fields {
    grid-template-areas:
      "disciplina"
      "temaGeral"
      "assuntos";
  }
}
