.overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
  transition: opacity ease-in-out 100ms;
  background: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}

.overlay.isOpen {
  opacity: 1;
  pointer-events: all;
}

.window {
  position: absolute;
  right: 1rem;
  bottom: 0;
  transform: translateY(100%);
  transition: transform ease-in-out 200ms;
  box-sizing: border-box;
  box-shadow: 0 0 0.2rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 1rem 1rem 0 0;
  width: clamp(200px, calc(100vw - 2rem), 480px);
  height: clamp(200px, calc(100vh - 10rem), 480px);
  overflow: hidden;
}

.overlay.isOpen > .window {
  transform: translateY(0);
}

.titleBar {
  background: #6c584c;
  padding: 1.5rem 1rem;
  color: white;
  font-weight: bold;
  line-height: 0;
  user-select: none;
}

.window > main {
  background: #fff;
  padding: 2rem;
  height: calc(100% - 3rem);
  overflow-y: scroll;
}

@media screen and (max-width: 640px) {
  .window > main {
    padding: 1rem;
  }
}
