.window {
  position: fixed;
  right: 1rem;
  bottom: 0;
  transform: translateY(0%) scale(0.95) rotateX(-15deg);
  opacity: 0;
  z-index: 2;
  transition: transform ease-in-out 200ms, opacity ease-in-out 200ms;
  box-sizing: border-box;
  width: clamp(300px, calc(100vw - 2rem), 480px);
  min-width: 300px;
  max-width: 80vw;
  height: clamp(300px, calc(100vh - 10rem), 480px);
  min-height: 300px;
  max-height: 80vh;
  pointer-events: none;
}

.window.isOpen {
  transform: translateY(0) scale(1) rotateX(0);
  opacity: 1;
  pointer-events: all;
}

.titleBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: move;
  border: 1px solid #4d4038;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  background: #6c584c;
  padding: 0.5rem;
  overflow: hidden;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 0;
  user-select: none;
}

.window .contentWrapper {
  border: 1px solid #4d4038;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #fff;
  width: 100%;
  height: calc(100% - 2rem);
  overflow: hidden;
}

.window .contentWrapper > main {
  padding: 1rem;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.window :is(.titleBar, .contentWrapper) {
  box-shadow: 0.5rem 0.9rem 1rem rgba(0, 0, 0, 0.25);
}

/** Geminata OS */
.resizeBorder {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 200ms ease-in-out;
  transition-delay: 0ms;
  cursor: nwse-resize;
  border-radius: 0.5rem;
  background: black;
  width: calc(100% + 0.6rem);
  height: calc(100% + 0.6rem);
  content: "";
}

.resizeBorder:hover {
  opacity: 0.7;
  transition-delay: 100ms;
}

.resizeBorder:hover ~ .window {
  box-shadow: 0 0 0 transparent;
}

.buttons {
  display: flex;
  align-items: center;
}

.buttons button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0.1rem 0.5rem rgba(124, 149, 35, 1);
  border: none;
  border-radius: 4px;
  background: linear-gradient(#959490, #5c5b57);
  width: 1em;
  height: 1em;
  color: #3d3c38;
  text-align: center;
  text-decoration: none;
}

.buttons button::before {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  content: "";
}

.buttons button:active {
  filter: brightness(0.85);
}

.buttons .close {
  background: #7d9736;
  width: 1rem;
}

.close::before {
  background-image: url("data:image/svg+xml,%3Csvg width='6px' height='6px' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath style='fill:none;stroke:%23f0f0f0;stroke-width:1' d='M 0,0 6,6' /%3E%3Cpath style='fill:none;stroke:%23f0f0f0;stroke-width:1' d='M 6,0 0,6' /%3E%3C/g%3E%3C/svg%3E");
}


@media screen and (max-width: 640px) {
  .window {
    top: unset !important;
    right: unset !important;
    bottom: 0 !important;
    left: 0.5rem !important;
    width: calc(100vw - 1rem) !important;
    min-width: unset !important;
    max-width: unset !important;
    min-height: unset !important;
    max-height: 80vh !important;
  }

  .window {
    box-shadow: 0px 0px 0px 100vh rgba(0,0,0,0.75);
    border-radius: 0.5rem 0.5rem 0 0;
    overflow: hidden;
  }

  .window .contentWrapper {
    border: none;
    border-radius: 0;
    padding: 1rem;
  }

  .titleBar {
    border: none;
    border-radius: 0;
    padding: 0 0 0 1rem;
  }

  .titleBar button {
    box-shadow: none;
    border-radius: 0;
    padding: 1rem;
  }

  .titleBar button::before {
    background-size: 25%;
  }
}
