.mainContent {
  padding: 10vh 10vw;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.mainContent > h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
}

.actionBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  width: clamp(100px, 100%, 960px);
}

.page {
  box-sizing: border-box;
  margin-top: 1rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
  padding: 4% 8%;
  aspect-ratio: 210 / 297;
  width: clamp(100px, 100%, 960px);
  font-size: 16px;
  font-family: serif;
}

.page * {
  font-size: inherit;
}

.page :is(h1,h2,h3,h4,h5,h6) {
  margin: 0.5em 0;
}

.page h6 {
  font-size: 1em;
}

.page h5 {
  font-size: 1.25em;
}

.page h4 {
  font-size: 1.5em;
}

.page h3 {
  margin-top: 1em;
  font-size: 1.75em;
}

.page h2 {
  font-size: 2em;
}

.page h1 {
  font-size: 2.25em;
}

.pageClass {
  padding-left: 2em;
  border-left: 2px solid #e0e0e0;
}

@media screen and (max-width: 640px) {
  .actionBar {
    flex-direction: column;
    align-items: stretch;
  }
}
