.mainWrapper {
  display: flex;
  width: 100%;
  height: calc(100% - 2.5rem);
}

.page {
  width: calc(100% - 4rem);
  height: 100%;
}

@media screen and (max-width: 640px) {
  .page {
    width: 100%;
  }
}
