.fieldSet {
  display: flex;
  flex-direction: column;
  align-items: start;
  border: none;
}

.fieldSet label {
  transform: translate(0.5rem, 0.5rem);
  z-index: 1;
  background: #fff;
  padding: 0 0.25rem;
  font-size: 0.7rem;
}

.fieldSet div {
  align-self: stretch;
}